<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>

<style>
  .form-group.add-admin {
    margin-bottom: 0px !important;
}
</style>
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
           <div class="fully-page">
             <div class="full-headings">
               <h4> Add Match </h4>
             </div>

   



             <div class="box-bodys" style="padding: 0px;">
       
              <div class="row">
                <div class="col-md-4">
           
                  <div class="forms-img">
                     <img src="../assets/img/login-bg/cricket-player.png" style="height: 420px !important;;">
                     
                  </div>
                </div>





                 <div class="col-md-8">
                                            	<!-- alert msgs  -->

                                              <% if (output === 'Error in fetching user' || output === 'Failed to Update' ) { %>
                                                <div  class="alert alert-danger">
                                                   <%= output %>
                                                  </div>
                                                
                                              <% }else if(output===''){

                                              } else { %>
                                                <div class="alert alert-success mb-1">
                                                   <%= output %>
                                                </div>                                   
                                              <% } %>
    
                  <div class="full-forms py-1 px-1">

            <form action="/admin/addmatch" method="post">

                 <div class="form-group row">
                  <input type="hidden" name="user_id">


                <div class="form-group add-admin col-md-6">
                    <label class="control-label" for="name">Sport name</label>
                    <input type="text" name="sport_name" class="form-control required">
                </div>
                 <div class="form-group add-admin col-md-6">
                    <label class="control-label" for="name">Match id</label>
                    <input type="number" name="match_id" class="form-control required">
                </div>

              
               

                   <div class="form-group add-admin col-md-6">
                        <label class="control-label" for="name">Match name</label>
                        <input type="text" name="match_name" class="form-control required">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="matchType">Match Type</label>
                      <select class="form-control" id="matchType" name="match_type">
                        <option value="" disabled selected>Select Match Type</option>
                        <option value="T20">T20</option>
                        <option value="ODI">ODI</option>
                        <option value="Test">Test</option>
                      </select>
                    </div>
                    
                    
                    
                    <div class="form-group add-admin col-md-6">
                      <label class="control-label" for="name">Team Name1</label>
                      <input type="text" name="team_name1" class="form-control required"  >
                  </div>
                  <div class="form-group add-admin col-md-6">
                    <label class="control-label" for="name">Team Name2</label>
                    <input type="text" name="team_name2" class="form-control required"  >
                </div>

                     <!-- <div class="form-group add-admin col-md-6">
                        <label class="control-label" for="image"> Customer Image</label><br>
                        <input type="file" name="image" onchange="validateImage(this)" id="image" class="" size="20" required="">
                        <div id="image_req" style="color: red"></div>
                    </div> -->

                    

                      <div class="form-group add-admin col-md-6">
                        <label class="control-label" for="name">Date</label>
                        <input type="date" name="date" class="form-control required">

                    </div>

                    <div class="form-group add-admin col-md-6">
                      <label class="control-label" for="name">Time</label>
                      <input type="time" name="time" class="form-control required">
                  </div>

                  <!-- <div class="form-group add-admin col-md-6">
                    <label class="control-label" for="name"> City </label>
                    <input type="text" name="city" class="form-control required" >
                </div> -->


         

                   
                    <div class="form-group  add-admin mt-3 col-md-12" style="margin-bottom: 0px;">
                       <input type="submit" name="add" class="btn btn-primary" value="Submit"> 
                    </div> 
                  </div>  
                </form>
                  </div>
                 </div>
             </div>
           </div>
          </div>
        </section>

      </div>
      <footer class="main-footer">
        <div class="footer-left">
          Copyright by 
          <a href="https://cyberimpulses.com/">CISS </a>
        </div>
        <div class="footer-right">
        </div>
      </footer>
    </div>
  </div>
  <!-- General JS Scripts -->
  <script src="../assets/js/app.min.js"></script>
  <!-- JS Libraies -->
  <script src="../assets/bundles/apexcharts/apexcharts.min.js"></script>
  <!-- Page Specific JS File -->
  <script src="../assets/js/page/index.js"></script>
  <!-- Template JS File -->
  <script src="../assets/js/scripts.js"></script>
  <!-- Custom JS File -->
  <script src="../assets/js/custom.js"></script>
</body>


<!-- index  21 Nov 2019 03:47:04 GMT -->
</html>