<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='shortcut icon' type='image/x-icon' href='../assets/img/spectrum.png' />
  	
		<!-- Main CSS -->
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Spectrum || Forgot Password</title>

<style>
  .top-login {
    padding: 47% 5%;
}
section#login-page {
/*         background: linear-gradient(356deg, #28bcde, #14789F); */
    background: linear-gradient(#00000000, #00000000),url(../assets/img/login/login-img.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.auth-form-light {
  /* background: #00000073; */
  background: #000000ad;
    margin: 50px 40px;
    border-radius: 30px 0px;
    border-top: 6px solid #ffffff;
    border-bottom: 6px solid white;
}

.brand-logo {
    margin-bottom: 1rem;
    text-align: center;
}
.brand-logo img.header-logo {
    width: 70%;
    background: white;
    padding: 12px 11px;
    border-radius: 5px;
}
.brand-logo h4 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

a.auth-link.text-black {
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #4464af;
    border-color: #4464af;
}
button.btn.btn-block.btn-facebook.auth-form-btn {
    background: #7DA0FA;
    color: #ffffff;
    margin: 14px 0px;
}
.btn-primary {
    color: #fff;
    background-color: #4464af;
    border-color: #4464af;
}
.btn-primary:hover {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}
a.text-primary:focus, a.text-primary:hover {
    color: #f4c61b!important;
}
.text-primary {
    color: #ffffff!important;
}
a:hover {
    color: #0056b3;
    text-decoration: underline;
}
.create-img img {
    width: 100%;
}
</style>
  </head>
  <body>
   
<!-- LOGIN PAGE SRTDSRT -->
<section id="login-page" class="login-page">
   <div class="container-fluid">
      <div class="row w-100 mx-0">
         <!--   <div class="col-lg-8 mx-auto">
            <div class="create-img">
                <img src="../assets/img/login-page-img.png">
            </div>
        </div> -->

         <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-4 px-3 px-sm-4">
              <div class="brand-logo">
                <a href="/admin"> <img alt="image" src="../assets/img/spectrum.png" class="header-logo"></a>
                <!-- <h3 style="color:white">|)E/\/\@</h3> -->
              </div>
              <h4 style="color:white;text-align: left;font-size: 19px;    line-height: 1.6; margin-bottom: 10px;"> Please enter your email below and follow the instructions sent your registered Email ID. </h4>

              <% if (output === 'OTP sent !!'  || output== 'Enter Your Email') { %>
                <p class="success-text"><%= output %></p>
          
              <% } else { %>
                <p class="error-text"><%= output %></p>
              <% } %>
            

              <% if (showForgotPasswordForm) { %>
                   
                <form  class="form-signin" method="POST" action="/admin/sendOTP">
                  <div class="form-group text-center" >  
                   <!-- <label for="email">Enter your email:</label> -->
                   <input class="form-control" type="email" id="email" name="email" placeholder="Enter the email" required><br><br>
                   
                   <div class="row">
                      <div class="mt-3 form group col-lg-6">
                          <!-- <a class="btn btn-block btn-success font-weight-medium" href="/#" style="font-size: 18px;">Send</a> -->
                          <button class="btn btn-success account-btn" type="submit">Send OTP</button>
                      </div>
                      <div class="mt-3 form group col-lg-6">
                          <a class="btn btn-block btn-danger font-weight-medium" href="/admin/login">Cancel</a>
                      </div>
                  </div>
                  </div>
                </form>
                <% } else if (showverifyotp) { %>                                    
                <div class="form-group text-center" >  
                <form class="form-signin" method="POST" action="/admin/verify-otp">
                   <label for="otp">Enter OTP: </label>
                   <input class="form-control" type="text" id="otp" name="otp" required><br><br>
                   <input type="hidden" id="email2" name="verifyEmail" value="<%- email %>" readonly><br><br>
                   <button class="btn btn-primary account-btn" type="submit">Verify OTP</button>
                  </div>
                </form>
                <% } else if (showresetpassword) { %>
            
                <div class="form-group text-center" >  
                <form class="form-signin"  method="POST" action="/admin/reset-password">
                   <label for="newPassword">Enter new password:</label>
                   <input class="form-control" type="password" id="newPassword" name="npass" required><br><br>
                   <label for="confirmPassword">Confirm new password:</label>
                   <input class="form-control" type="password" id="confirmPassword" name="cpass" required><br><br>
                   <input type="hidden" id="email3" name="resetemail" value="<%- email %>" readonly><br><br>
                   <button class="btn btn-primary account-btn" type="submit">Reset Password</button>
                  </div>
                </form>
                <% } else if (login){ %>

                  <div class="form-group text-center">  
                    <form class="form-signin"  method="POST" action="/admin/login">
                       <label for="newPassword">Enter Youer username:</label>
                       <input class="form-control" type="text" id="newPassword" name="username" required><br><br>
                       <label for="confirmPassword"> password:</label>
                       <input class="form-control" type="password" id="confirmPassword" name="password" required><br><br>
                      
                       <button class="btn btn-primary account-btn" type="submit">submit</button>
                      </div>
                    </form>


                   <% } %>
            </div>
          </div>
          <div class="col-lg-8 mx-auto">
        </div>
       <!--    <div class="col-lg-4 mx-auto">
          </div> -->

        </div>
    </div>
</section>
<!-- LOGIN SCRIPT START -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
</body>
</html>