          <!-- SIDEBAR  -->
		  <div class="main-sidebar sidebar-style-2">
			<aside id="sidebar-wrapper">
			  <div class="sidebar-brand">
				<a href="/admin"> <img alt="image" src="../assets/img/spectrum.png" class="header-logo" />
				</a>
			  </div>
			  <ul class="sidebar-menu mt-2">
			
				<li class="dropdown active">
				  <a href="/admin" class="nav-link"><i data-feather="monitor"></i><span>Dashboard</span></a>
				</li>

				
				<!-- <li><a href="/admin/appPass"> <i data-feather="mail"></i><span>Add G-Pass </span></a></li> -->

				<li class="dropdown">
				  <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="user"></i><span>
					User management  </span></a>
				  <ul class="dropdown-menu">
					<!-- <li><a class="nav-link" href="/admin/addUser">Add User</a></li> -->
					<li><a class="nav-link" href="/admin/viewUsers">View Users</a></li>
				  </ul>
				</li>
			   <!-- <li class="dropdown">
				  <a href="#" class="menu-toggle nav-link has-dropdown"><i class="fa fa-gamepad"></i><span>Matchs Management </span></a>
				   <ul class="dropdown-menu">
					<li><a class="nav-link" href="admin/addmatch">  Property Types </a></li>
					<li><a class="nav-link" href="/admin/properties"> Views Properties </a></li>
				  </ul>
				</li> -->
				 
			    <li>
				  <a class="nav-link" href="/admin/addmatch">
					<i class="fa fa-gamepad"></i>
					<span> Add match</span>
				  </a>
				</li>
				  <!-- <li>
						<a class="nav-link" href="/admin/notify">
						<i data-feather="bell"></i>
						<span>Notification</span>
						</a>
				  </li> -->
	
				<!-- <li class="dropdown">
						<a href="#" class="menu-toggle nav-link has-dropdown"><i
							data-feather="file"></i><span> Question</span></a>
					<ul class="dropdown-menu">
						<li><a class="nav-link" href="/admin/addQuestion">Add Question</a></li>
						<li><a class="nav-link" href="/admin/viewQuestions">View Questions</a></li>
					</ul>
				</li> -->
	
	
				<!-- <li class="dropdown">
						<a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="command"></i><span>
							Skills Management  </span></a>
						<ul class="dropdown-menu">
							<li><a class="nav-link" href="/admin/skills"> Skills </a></li>
					
							<li><a class="nav-link" href="/admin/addSkills"> Add Skills </a></li>
							<li><a class="nav-link" href="/admin/viewSkills"> View Skills</a></li>
						</ul>
				</li> -->


				<!-- <li class="dropdown">
							<a href="#" class="menu-toggle nav-link has-dropdown"> <i data-feather="edit"></i><span>
								Rent Agreements </span></a>
							<ul class="dropdown-menu">
								

								<li>
									<a class="nav-link" href="/admin/useragreements">
									<span>Users Official Agreements</span>
									</a>
								</li>
					
							</ul>
				</li> -->

					
	
					<!-- <li class="dropdown">
							<a href="#" class="menu-toggle nav-link has-dropdown"><i
								data-feather="alert-triangle"></i><span>Help & Support </span></a>
							<ul class="dropdown-menu">
								<li><a class="nav-link" href="/admin/addInquiryDetails"> Add Inquiry </a></li>
							<li><a class="nav-link" href="/admin/queries"> Query Tickets </a></li>
							</ul>
					</li>  -->

<!-- 			
					<li>
							<a class="nav-link" href="/admin/addLocations">
							<i data-feather="map-pin"></i>
							<span>Add Locations </span>
							</a>
					</li> -->


						<!-- <li>
							<a class="nav-link" href="/admin/addservicesDetails">
							  <i data-feather="flag"></i>
							  <span> Add Services Details</span>
							</a>
						</li> -->
	  



	
					<!-- <li>
							<a class="nav-link" href="/admin/faq">
							<i data-feather="flag"></i>
							<span> Frequently Asked Question</span>
							</a>
					</li> -->
	
					 <!-- <li>
						<a class="nav-link" href="/admin/tandc">
						<i data-feather="map"></i>
						<span> Terms & Conditions</span>
						</a>
					</li> -->
	
					  <!-- <li>
							<a class="nav-link" href="/admin/userPrivacy">
							<i data-feather="user-check"></i>
							<span> Privacy & Policy </span>
							</a>
					</li> -->


					<li><a href="/admin/logout"> <i data-feather="log-out"></i><span>Logout </span></a></li>
			  </ul>
			</aside>
		  </div>
		   <!-- SIDEBAR  -->
	
	
	