<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-xs-12">
                <div class="widget clearfix">
                    <p>We are dedicated to delivering exceptional services that blend innovation and reliability. Our team strives to create meaningful experiences that leave a lasting impact on our users.</p>
                    <div class="footer-right">
                        <ul class="footer-links-soi">
                            <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube"></i></a></li>
                        </ul><!-- end links -->
                    </div>
                </div><!-- end clearfix -->
            </div><!-- end col -->

            <div class="col-lg-3 col-md-3 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Pages Link</h3>
                    </div>
                    <ul class="footer-links">
                        <li class="nav-item"><a href="/index">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/game">Game</a></li>
                        <li><a href="/blog">Blog</a></li>
                    </ul><!-- end links -->
                </div><!-- end clearfix -->
            </div><!-- end col -->

            <div class="col-lg-3 col-md-3 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Information Link</h3>
                    </div>
                    <ul class="footer-links">
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/privacypolicy">Privacy Policy</a></li>
                        <li><a href="/termscondition">Terms & Condition</a></li>
                    </ul><!-- end links -->
                </div><!-- end clearfix -->
            </div><!-- end col -->

            <div class="col-lg-3 col-md-3 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Contact Details</h3>
                    </div>

                    <ul class="footer-links">
                        <li><a href="mailto:#">support@spectrumsports.com</a></li>
                        <li>PO Box 16122 Collins Street West Victoria 8007 Australia</li>
                        <li>+61 3 8376 6284</li>
                    </ul><!-- end links -->
                </div><!-- end clearfix -->
            </div><!-- end col -->

        </div><!-- end row -->
    </div><!-- end container -->
</footer><!-- end footer -->

<div class="copyrights">
    <div class="container">
        <div class="footer-distributed">
            <div class="footer-center">
                <p class="footer-company-name">Copy Right &copy; 2024 <a href="#">Spectrum Sports</a> All rights reserved | Design & Developed <a href="#">CISS</a>
                </p>
            </div>
        </div>
    </div><!-- end container -->
</div><!-- end copyrights -->