<!DOCTYPE ejs>
<ejs lang="en">

<!-- Basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Site Metas -->
<title>terms & condition</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">

<!-- Site Icons -->
<link rel="shortcut icon" href="https://cdn-teams-slug.flaticon.com/google.jpg" type="image/x-icon" />
<link rel="apple-touch-icon" href="admin_assets/images/apple-touch-icon.png">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="admin_assets/css/bootstrap.min.css">
<!-- Site CSS -->
<link rel="stylesheet" href="admin_assets/style.css">
<!-- ALL VERSION CSS -->
<link rel="stylesheet" href="admin_assets/css/versions.css">
<!-- Responsive CSS -->
<link rel="stylesheet" href="admin_assets/css/responsive.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="admin_assets/css/custom.css">

<!-- Modernizer for Portfolio -->
<script src="admin_assets/js/modernizer.js"></script>

<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/ejs5shiv/3.7.0/ejs5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="host_version">

    <!-- Modal -->
    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header tit-up">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Spectrum login Registration</h4>
                </div>
                <div class="modal-body customer-box">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li><a class="active" href="#Login" data-toggle="tab">Login</a></li>
                        <li><a href="#Registration" data-toggle="tab">Registration</a></li>

                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">

                        <div class="tab-pane active" id="Login">
                            <form role="form" class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input class="form-control" id="email1" placeholder="Name" type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input class="form-control" id="exampleInputPassword1" placeholder="Email"
                                            type="email">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-light btn-radius btn-brd grd1">
                                            Submit
                                        </button>
                                        <a class="for-pwd"
                                            href="forgot-password.ejs">Forgot your
                                            password?</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="Registration">
                            <form role="form" class="form-horizontal">
                                <div class="form-group d-flex">
                                    <div class="col-sm-6">
                                        <input class="form-control" placeholder="Name" type="text">
                                    </div>

                                    <div class="col-sm-6">
                                        <input class="form-control" placeholder="birthday" type="date"
                                            style="color: gray;">
                                    </div>
                                </div>
                                <div class="form-group d-flex">
                                    <div class="col-sm-6">
                                        <select id="cars" class="form-control" name="state"
                                            style="color: #747d84 !important;">
                                            <option value="volvo">state</option>
                                            <option value="saab">mp</option>
                                            <option value="fiat">up</option>

                                        </select>
                                    </div>

                                    <div class="col-sm-6">
                                        <input class="form-control" id="email" placeholder="Email" type="email">
                                    </div>
                                </div>
                                <div class="form-group d-flex">
                                    <div class="col-sm-6">
                                        <input class="form-control" id="password" placeholder="Password"
                                            type="password">

                                    </div>

                                    <div class="col-sm-6">
                                        <input class="form-control" id="mobile" placeholder="Mobile" type="email">
                                    </div>
                                </div>
                                <div class="form-group d-flex">
                                    <div class="col-sm-4">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                                            id="flexRadioDefault1">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            male
                                        </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                                            id="flexRadioDefault1">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            female
                                        </label>
                                    </div>

                                    <div class="col-sm-4">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                                            id="flexRadioDefault2" checked>
                                        <label class="form-check-label" for="flexRadioDefault2">
                                            other
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <textarea class="form-control" id="exampleFormControlTextarea1"
                                            placeholder="Addresses" style="color: #747d84 !important;"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-10">
                                        <button type="button" class="btn btn-light btn-radius btn-brd grd1">
                                            submit</button>
                                        <button type="button" class="btn btn-light btn-radius btn-brd grd1">
                                            reset
                                        </button>

                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- <div class="tab-pane" id="Forgot-passwoed">
                            <form role="form" class="form-horizontal">
                            
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input class="form-control" id="exampleInputPassword1" placeholder="Email"
                                            type="email">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-light btn-radius btn-brd grd1">
                                            Submit
                                        </button>
                                        <a class="for-pwd" href="javascript:;">Forgot your password?</a>
                                    </div>
                                </div>
                            </form>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- LOADER -->
    <div id="preloader">
        <div class="loader-container">
            <div class="progress-br float shadow">
                <div class="progress__item"></div>
            </div>
        </div>
    </div>
    <!-- END LOADER -->

       <!-- Start header -->
       <%- include ("header.ejs") %>
       <!-- End header -->

    <div class="all-title-box">
        <div class="container text-center">
            <h1>terms & condition<span class="m_1">Spectrum's Terms and Conditions outline the rules and guidelines for
                    using their services and products. These terms govern the relationship between Spectrum (a brand of
                    Charter Communications) and its customers. Here are the key elements typically covered in Spectrum’s
                    Terms & Conditions:</span></h1>
        </div>
    </div>

    <div id="overviews" class="section wb">
        <div class="container">
            <div class="section-title row text-center" style="margin: 0px;">
                <div class="col-md-8 offset-md-2">
                    <!-- <p class="lead">customer, client or employee information gathered in its operations. It will include
                        how data is collected, stored, used, shared and protected and the user's rights in connection to
                        the data.</p> -->
                </div>
            </div><!-- end title -->

            <hr class="invis" style="margin: 0;">

            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="course-item">
                        <div class="image-blog">

                        </div>

                        <div class="privacy-policys">
                            <h2><a href="#" title="">1. Acceptance of Terms</a></h2>
                        </div>
                        <div class="privacy-policys">
                            <p>By signing up for Spectrum services or using their products, customers agree to abide by
                                the terms outlined in the agreement. The terms apply to all users of Spectrum’s
                                services, including internet, cable, phone, and wireless services.</p>
                        </div>



                        <div class="privacy-policys">
                            <h2><a href="#" title="">2. Service Availability</a></h2>
                        </div>
                        <div class="privacy-policys">
                            <p>Spectrum specifies the geographic areas where its services are available. They may also
                                detail any limitations or restrictions on the availability of certain services based on
                                location.</p>
                        </div>



                        <div class="privacy-policys">
                            <h2><a href="#" title="">3. Account Creation and Management</a></h2>
                        </div>
                        <div class="privacy-policys">
                            <p>Customers are required to create an account to access Spectrum services. They are
                                responsible for maintaining accurate account information, keeping login credentials
                                secure, and ensuring their account is used in compliance with the terms.</p>
                        </div>



                        <div class="privacy-policys">
                            <h2><a href="#" title="">4. Billing and Payments</a></h2>
                        </div>
                        <div class="privacy-policys">
                            <p>Spectrum provides information about how billing works, including payment due dates,
                                service fees, late charges, and penalties for missed payments. Customers are expected to
                                pay for services rendered on time according to the agreed billing cycle.</p>
                        </div>



                        <div class="privacy-policys">
                            <h2><a href="#" title="">5. Use of Services </a></h2>
                        </div>
                        <div class="privacy-policys">
                            <p>The terms generally state that customers must use Spectrum's services legally and
                                responsibly. Prohibited uses may include:</p>
                            <p>Illegal activities such as piracy, hacking, and distribution of malware.</p>
                            <p>Excessive usage that affects other customers (e.g., violating fair usage policies for
                                internet data).</p>
                            <p>Misuse or unauthorized access to Spectrum’s services, devices, or network infrastructure.
                            </p>
                        </div>



                        <div class="privacy-policys">
                            <h2><a href="#" title="">6. Modifications to Services</a></h2>
                        </div>
                        <div class="privacy-policys">
                            <p>Spectrum may modify or discontinue services or change the terms of service, but customers
                                will typically be notified in advance of any significant changes. Customers may also be
                                offered alternatives or compensation if changes significantly affect their service.</p>
                        </div>



                        <div class="privacy-policys">
                            <h2><a href="#" title="">7. Termination of Service</a></h2>
                        </div>
                        <div class="privacy-policys">
                            <p>The terms cover scenarios where either Spectrum or the customer may terminate the
                                service. For instance:</p>
                            <p>Customers can cancel services at any time (subject to terms like early termination fees
                                if applicable).</p>
                            <p>Spectrum can terminate services for reasons such as non-payment, breach of terms, or
                                abuse of services.</p>
                        </div>
                        <div class="privacy-policys">
                            <h2><a href="#" title="">8. Customer Support</a></h2>
                        </div>
                        <div class="privacy-policys">
                            <p>Spectrum provides customer support to assist with troubleshooting, billing inquiries, and account management. The terms may include details on how to contact support and any limitations on support availability.</p>
                            
                        </div>
                        <div class="privacy-policys">
                            <h2><a href="#" title="">9. Limitations of Liability</a></h2>
                        </div>
                        <div class="privacy-policys">
                            <p>Spectrum’s liability for any issues arising from service interruptions, damages, or other incidents is typically limited. The terms usually state that Spectrum isn’t liable for indirect, incidental, or consequential damages.</p>
                           
                        </div>
                        <div class="privacy-policys">
                            <h2><a href="#" title="">10. Privacy and Data Collection</a></h2>
                        </div>
                        <div class="privacy-policys">
                            <p>The terms often reference Spectrum’s privacy policy, outlining how the company collects, uses, and shares customer data. This includes provisions related to the use of personal information for marketing purposes, data retention, and compliance with privacy regulations.</p>
                            
                        </div>
                        <div class="privacy-policys">
                            <h2><a href="#" title="">11. Dispute Resolution</a></h2>
                        </div>
                        <div class="privacy-policys">
                            <p>Spectrum generally includes an arbitration clause in its terms, meaning that disputes between the customer and Spectrum may be resolved through arbitration rather than in court. The terms may also include other methods of dispute resolution, such as mediation.</p>
                            
                        </div>
                        <div class="privacy-policys">
                            <h2><a href="#" title="">12. Changes to Terms</a></h2>
                        </div>
                        <div class="privacy-policys">
                            <p>Spectrum reserves the right to modify or update the Terms and Conditions at any time. Customers are usually notified of changes, and continued use of services is considered acceptance of the updated terms.</p>
                            
                        </div>
                        <div class="privacy-policys">
                            <h2><a href="#" title="">13. Intellectual Property</a></h2>
                        </div>
                        <div class="privacy-policys">
                            <p>The terms clarify that Spectrum owns the intellectual property rights to their services, software, and content. Customers may not copy, modify, or distribute this intellectual property without permission.</p>
                            
                        </div>
                        <div class="privacy-policys">
                            <h2><a href="#" title="">14. Indemnity</a></h2>
                        </div>
                        <div class="privacy-policys">
                            <p>Customers agree to indemnify and hold Spectrum harmless from any claims, damages, or losses resulting from their use of the service, including from any violations of the terms.</p>
                            <p>For the most accurate and detailed information, customers should refer to the full Terms & Conditions document on Spectrum's official website, which is updated regularly to reflect any changes in policies or legal requirements.</p>
                            
                        </div>





                    </div>
                </div><!-- end col -->
            </div><!-- end row -->

            <hr class="hr3">

            <!-- <div class="row">
				<div class="col-lg-6 col-md-6 col-12">
                    <div class="course-item">
						<div class="image-blog">
							<img src="admin_assets/images/blog_3.jpg" alt="" class="img-fluid">
						</div>
						<div class="course-br">
							<div class="course-title">
								<h2><a href="#" title="">Biotechnology</a></h2>
							</div>
							<div class="course-desc">
								<p>Lorem ipsum door sit amet, fugiat deicata avise id cum, no quo maiorum intel ogrets geuiat operts elicata libere avisse id cumlegebat, liber regione eu sit.... </p>
							</div>
							<div class="course-rating">
								4.5
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star-half"></i>								
							</div>
						</div>
						<div class="course-meta-bot">
							<ul>
								<li><i class="fa fa-calendar" aria-hidden="true"></i> 6 Month</li>
								<li><i class="fa fa-users" aria-hidden="true"></i> 56 Student</li>
								<li><i class="fa fa-book" aria-hidden="true"></i> 7 Books</li>
							</ul>
						</div>
					</div>
                </div>
				<div class="col-lg-6 col-md-6 col-12">
                   <div class="course-item">
						<div class="image-blog">
							<img src="admin_assets/images/blog_4.jpg" alt="" class="img-fluid">
						</div>
						<div class="course-br">
							<div class="course-title">
								<h2><a href="#" title="">Medical Sciences</a></h2>
							</div>
							<div class="course-desc">
								<p>Lorem ipsum door sit amet, fugiat deicata avise id cum, no quo maiorum intel ogrets geuiat operts elicata libere avisse id cumlegebat, liber regione eu sit.... </p>
							</div>
							<div class="course-rating">
								4.5
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star-half"></i>								
							</div>
						</div>
						<div class="course-meta-bot">
							<ul>
								<li><i class="fa fa-calendar" aria-hidden="true"></i> 6 Month</li>
								<li><i class="fa fa-users" aria-hidden="true"></i> 56 Student</li>
								<li><i class="fa fa-book" aria-hidden="true"></i> 7 Books</li>
							</ul>
						</div>
					</div>
                </div>
			</div>
			 -->
            <hr class="hr3">

            <!---<div class="row"> 
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="course-item">
						<div class="image-blog">
							<img src="admin_assets/images/blog_5.jpg" alt="" class="img-fluid">
						</div>		
						<div class="course-br">
							<div class="course-title">
								<h2><a href="#" title="">Finance</a></h2>
							</div>
							<div class="course-desc">
								<p>Lorem ipsum door sit amet, fugiat deicata avise id cum, no quo maiorum intel ogrets geuiat operts elicata libere avisse id cumlegebat, liber regione eu sit.... </p>
							</div>
							<div class="course-rating">
								4.5
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star-half"></i>								
							</div>
						</div>
						<div class="course-meta-bot">
							<ul>
								<li><i class="fa fa-calendar" aria-hidden="true"></i> 6 Month</li>
								<li><i class="fa fa-users" aria-hidden="true"></i> 56 Student</li>
								<li><i class="fa fa-book" aria-hidden="true"></i> 7 Books</li>
							</ul>
						</div>
					</div>
                </div>
                

                 <div class="col-lg-6 col-md-6 col-12">
                    <div class="course-item">
						<div class="image-blog">
							<img src="admin_assets/images/blog_6.jpg" alt="" class="img-fluid">
						</div>
						<div class="course-br">
							<div class="course-title">
								<h2><a href="#" title="">Fashion Designing</a></h2>
							</div>
							<div class="course-desc">
								<p>Lorem ipsum door sit amet, fugiat deicata avise id cum, no quo maiorum intel ogrets geuiat operts elicata libere avisse id cumlegebat, liber regione eu sit.... </p>
							</div>	
							<div class="course-rating">
								4.5
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star-half"></i>								
							</div>
						</div>
						<div class="course-meta-bot">
							<ul>
								<li><i class="fa fa-calendar" aria-hidden="true"></i> 6 Month</li>
								<li><i class="fa fa-users" aria-hidden="true"></i> 56 Student</li>
								<li><i class="fa fa-book" aria-hidden="true"></i> 7 Books</li>
							</ul>
						</div>
					</div>
                </div>
            </div>-->
        </div><!-- end container -->
    </div><!-- end section -->

    <!-- <div class="parallax section dbcolor">
        <div class="container">
            <div class="row logos">
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="admin_assets/images/logo_01.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="admin_assets/images/logo_02.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="admin_assets/images/logo_03.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="admin_assets/images/logo_04.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="admin_assets/images/logo_05.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="admin_assets/images/logo_06.png" alt="" class="img-repsonsive"></a>
                </div>
            </div>
        </div>
    </div> -->

      <!-- Start header -->
      <%- include ("footer.ejs") %>
      <!-- End header -->

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="admin_assets/js/all.js"></script>
    <!-- ALL PLUGINS -->
    <script src="admin_assets/js/custom.js"></script>
    <script src="admin_assets/js/timeline.min.js"></script>
    <script>
        timeline(document.querySelectorAll('.timeline'), {
            forceVerticalMode: 700,
            mode: 'horizontal',
            verticalStartPosition: 'left',
            visibleItems: 4
        });


    </script>
</body>

</ejs>