          <!-- SIDEBAR  -->
		  <div class="main-sidebar sidebar-style-2">
			<aside id="sidebar-wrapper">
			  <div class="sidebar-brand">
				<a href="/dashboard"> <img alt="image" src="/assets/img/spectrum.png" class="header-logo" />
				</a>
			  </div>
			  <ul class="sidebar-menu mt-2">
			
				<li class="dropdown active">
				  <a href="/dashboard" class="nav-link"><i data-feather="monitor"></i><span>Dashboard</span></a>
				</li>

				
				



                <li class="dropdown">
					<a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="user"></i>
						<span>Games</span>
					</a>
					<!-- <ul class="dropdown-menu">
						<li><a class="nav-link" href="/dashboard/addUser">Add User</a></li>
						<li><a class="nav-link" href="/dashboard/viewUsers">View Users</a></li>
					</ul> -->
				</li>
				<li class="dropdown">
					<a href="#" class="menu-toggle nav-link has-dropdown"><i class="fa fa-calendar"></i>
						<span>Booking history </span>
					</a>
					<!-- <ul class="dropdown-menu">
						<li><a class="nav-link" href="/dashboard/eventtype">Event Type</a></li>
						<li><a class="nav-link" href="/dashboard/addevent_name">Add Event name</a></li>
						<li><a class="nav-link" href="/dashboard/viewevent"> View event name</a></li>
						<li><a class="nav-link" href="/dashboard/addevent">Add Event</a></li>
						<li><a class="nav-link" href="/dashboard/viewevent"> View Event</a></li>
					</ul> -->
				</li>
				
				
				<li>
					<a class="nav-link" href="/dashboard/tandc">
						<i data-feather="map"></i>
						<span> User Terms & Conditions</span>
					</a>
				</li>
				<li>
					<a class="nav-link" href="/dashboard/pandp">
						<i data-feather="user-check"></i>
						<span>User Privacy & Policy </span>
					</a>
				</li>



					<li><a href="/logout"> <i data-feather="log-out"></i><span>Logout </span></a></li>
			  </ul>
			</aside>
		  </div>
		   <!-- SIDEBAR  -->
	
	
	